.post-container {
    margin-top: 1rem;
    background-color:#0b0d13 ;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(224, 220, 220, 0.1);
    margin-bottom: 1rem;
  }

  .post-container:hover {
    transform: scaleX(20px);
    box-shadow: 0 0 30px rgba(0, 0, 128, 0.8);
  }
  
  .post-padding {
    padding: 1rem;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .midpart p {
    color:rgba(255, 255, 255, 0.503);
  }

  .midpart h2{
    text-decoration: solid;
    margin-bottom: 30px;
  }

  .midpart h3{
    color:rgba(255, 255, 255, 0.503);
    margin-bottom: 6px;
  }

  .post-author {
    display: flex;
    align-items: center;
    margin: 7px;
  }
  
  .author-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    margin-right: 0.75rem;
  }
  
  .author-name {
    font-weight: 600;
  }
  
  .author-headline {
    font-size: 0.75rem;
    color: var(--info-color);
  }
  
  .delete-button {
    color: red;
  }
  
  .delete-button:hover {
    color:rgba(128, 0, 128, 0.2);
  }
  
  .loader {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  